body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120 deg, #29d9d9, #8d29d9);
    height:100vh;
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px, 8px,10px, rgba(91, 91, 218, 0.5)0.5); 
}